# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Sensitive or high-churn files
/editor.xml
/misc.xml
/modules.xml
/vcs.xml